<nav class="navbar navbar-default">
    <div class="coni=tainer-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Posts</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/all" routerLinkActive="active">All Posts</a>
                </li>
                <li>
                    <a routerLink="/add" routerLinkActive="active">Add</a>
                </li>
            </ul>
        </div>
    </div>
</nav>